<%= simple_form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_area :location%>
  </div> 

  <div class="field">
    <%= f.label :duration%><br>
    <%= f.time_select :duration, {minute_step:15, :default => {:hour => '1'} }%> 
  </div>  

  <%= f.label :start_bound%><br>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field :start_bound, :class => 'form-control' %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A' 
                });
            });
        </script>
    </div>

    <%= f.label :end_bound%><br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <%= f.text_field :end_bound, :class => 'form-control'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            /*var d = new Date($('datetimepicker1').getDate());
            var timeInMillis = d.getTime();
            var defaultDate = new Date();--> */
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A' 
                });
            });
        </script>
    </div>

<div class="field">
<%= f.label :color %><br>
<%= f.color_field( :color) %>
</div>


    <div class="actions">
      <%= f.submit %>
    </div>



<% end %>
