<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location%><br>
    <%= f.text_area :location%>
  </div> 

  <div class="field">
    <%= f.label :duration%><br>
    <%= f.time_select :duration%> 
  </div>  

<%= f.label 'Color'%><br>


<input type="text" class="colorpicker1" value="#5367ce" />
<script>
$(function(){
    $('.colorpicker1').colorpicker();
});
</script>

<!-- Need to tie above color picker to the field type :color (that's a string ) to event
and then run and then use the method eventColor once the event is updated

check the fullcalendar documentation and look under event rendering for more information
--> 

<br>


<!-- <div class="input-append bootstrap-timepicker">
            <input id="timepicker" type="text" class="input-small">
            <span class="add-on"><i class="icon-time"></i></span>
        </div>
 
        <script type="text/javascript">
            $('#timepicker1').timepicker();
        </script>


<%= f.label :duration%><br>
>>>>>>> 8638f2305674cba09e80846a07e7fbdc71b35e54
 <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div class='input-group date' id='timepicker1'>
                    <%= f.text_field :duration, :class => 'form-control'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
         $(function () {
          $('#timepicker1').timepicker();
        });
        </script>
    </div>  
    
          $('#timepicker1').datetimepicker({
            format: 'HH:mm'
          });
        });
        </script>
    </div> -->

<!--span class="glyphicon glyphicon-user"></span-->



  <%= f.label :start_bound%><br>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <%= f.text_field :start_bound, :class => 'form-control' %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A' 
                });
            });
        </script>
    </div>

    <%= f.label :end_bound%><br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker2'>
                    <%= f.text_field :end_bound, :class => 'form-control'%>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    format: 'YYYY-MM-DD hh:mm A' 
                });
            });
        </script>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
