<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<br />
<p>
<strong>People Attending:</strong><br>
  <input type="text" name="username"> 
  <input type="submit" value="Add">
</p>

<%= link_to 'Back', events_path %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', event_path(@event), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
