<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start bound:</strong>
  <%= @event.start_bound %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>End bound:</strong>
  <%= @event.end_bound %>
</p>

<br />
<script>
    $(function() {
        var friends = "#{ current_user.friends }";
        $( "#friendsList" ).autocomplete({
            source: friends
        });
    });
</script>
<strong>People added to event:</strong><br>
<% for user in @event.users %>
    <ul>
        <li><%= user.name %></li>
    </ul>
<% end %>
<div class="ui-widget">
    <label for="friendsList">Users: </label>
    <input id="friendsList">
</div>

<%= link_to 'Back', events_path %> |
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Delete', event_path(@event), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
