<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<p>
  <strong>Start bound:</strong>
  <%= @event.start_bound %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @event.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @event.end_time %>
</p>

<p>
  <strong>End bound:</strong>
  <%= @event.end_bound %>
</p>

<br />

<strong>People added to event:</strong><br>
<% for user in @event.users %>
    <p>
        <%= user.name %>
        <% if current_user.invites.find_by_event_id(@event.id).creator && user != current_user %>
            <%= link_to 'Remove', invite_path(user.invites.find_by_event_id(@event.id)), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
        <% end %>
    </p>
<% end %>

<% if current_user.invites.find_by_event_id(@event.id).creator %>
    <%= form_tag(invites_path, method: "post") do %>
        <%= hidden_field_tag(:event_id, @event.id) %>
        <%= label_tag(:email, "User Email:") %>
        <%= text_field_tag(:email, '', id: 'invite_user') %>
        <%= submit_tag("Invite User") %>
    <% end %>
<% end %>

<%= link_to 'Back', events_path %>
<% if current_user.invites.find_by_event_id(@event.id).creator %>
    | <%= link_to 'Edit', edit_event_path(@event) %> |
    <%= link_to 'Delete', event_path(@event), :method => :delete, :data => { :confirm => 'Are you sure?' } %>
<% end %>