<%- model_class = Event -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<%= week_calendar table: {class: "table table-bordered"}, header: {class: "calendar-header"}, tr: {class: "calendar-row"}, day_names: "date.day_names", events: @events do |day, events| %>
    <% start = day.beginning_of_day %>
    <% ending = day.end_of_day %>

    <% while start < ending do %>
        <div class="day-hour">
            <%= start.strftime("%l%P") %>
            <% events.each do |event| %>
            <div>
              <%= link_to event.name, event_path(event) %>
            </div>
          <% end %>
        </div>

        <% start += 1.hour %>
    <% end %>
<% end %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_event_path,
            :class => 'btn btn-primary' %>
