<!DOCTYPE html>
<html>
<head>
  <title>Smart Cal</title>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%= nav_bar :inverse => true, :fixed => :top, :responsive => true, :brand => "Smart Cal" do  %>
        <ul class="nav navbar-nav">
            <li><%= link_to "Week View", week_events_url %></li>
            <li><%= link_to "Month View", month_events_url %></li>
        </ul>
    <% end %>
    <div class="container-fluid">
        <div class="row" style="padding-top: 60px">
                <div class="span12"><%= yield %></div>
        </div>
    </div>

</body>
</html>
